<div class="left_side_nav">
  <a class="left_side_logo" routerLink="/home" routerLinkActive="active">
    <img
      src="../../../../../assets/images/sidelogo.svg"
      class="img-fluid side_logo"
      alt="sidelogo"
    />
  </a>
  <div class="mode_list">
    <ul class="mode_list_content">
      <li>
        <button
          type="button"
          class="btn btn-primary btn--lg btn_mot_icon mb-2"
          (click)="changingTheme('dark')"
        >
          <img
            src="../../../../../assets/images/nightmode.svg"
            class="img-fluid"
            alt="nightmode"
          />
        </button>
        <p class="btn_mot_icon_text theme_change">
          {{ "Night Mode" | translate }}
        </p>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-primary btn--lg btn_mot_icon mb-2"
          (click)="changingTheme('light')"
        >
          <img
            src="../../../../../assets/images/lightmode.svg"
            class="img-fluid"
            alt="nightmode"
          />
        </button>
        <p class="btn_mot_icon_text theme_change">
          {{ "Light Mode" | translate }}
        </p>
      </li>
    </ul>
  </div>
</div>
