<div class="form_login">
  <h4 class="form_login_welcome mb-1">WELCOME TO</h4>
  <h3 class="app_title">{{ title | uppercase }}</h3>
  <form
    class="form_rewidth"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
  <mat-form-field  appearance="outline" class="w-100 material_input" >
    <mat-label>Email</mat-label>
    <input matInput placeholder="Placeholder"  formControlName="email">

    <mat-error *ngIf="
    loginForm.controls.email.touched &&
    loginForm.controls.email.errors?.required
  ">
      Please enter a valid email address
    </mat-error>
    <mat-error  *ngIf="
    loginForm.controls.email.touched &&
    loginForm.controls.email.errors?.email
  ">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <!-- password -->
  <mat-form-field appearance="outline"  class="w-100 material_input">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Placeholder"  formControlName="password">
   
    <mat-icon matSuffix class="bg--primary"> visibility_off</mat-icon>
    <mat-error  *ngIf="
    loginForm.controls.password.touched &&
    loginForm.controls.password.errors?.required
  ">
  Please enter password!
    </mat-error>
  
  </mat-form-field>
  
   
   <div class="row justify-content-between">
     <div class="col-5 d-flex ">
      <mat-slide-toggle>Remember Me</mat-slide-toggle>
     </div>
     <div class="col-4 d-flex justify-content-end">
     <a routerLink='/forgetpassword' > Forgot Password</a>
     </div>
   </div>
    <div class="form_footer">
      <button type="submit" class="btn btn-primary btn_mot btn--lg">
        Login
      </button>
    </div>
  </form>
</div>
